//page-title-area
.page-title-area {
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
}

.page-title-wrapper {
	position: relative;
	z-index: 2;
	& .page-title {
		color: $heding;
		font-size: 200px;
		text-transform: uppercase;
		font-weight: 900;
		position: relative;
		z-index: 1;
		display: inline-block;
		&::before {
			content: "";
			position: absolute;
			width: 250px;
			height: 3px;
			background: $theme-color;
			right: 0;
			bottom: -15px;
			z-index: 1;
		}
		@media #{$max-laptop} {
			font-size: 120px;
		}
		@media #{$max-lg} {
			font-size: 55px;
			&::before {
				width: 100%;
				left: 0;
				right: 0;
			}
		}
		@media #{$xs} {
			font-size: 24px;
		}
	}
}

ul.breadcrumb {
	display: inline-block;
	padding: 12px 26px;
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
	background: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
	background: -ms-linear-gradient(135deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
	background: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
	background: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
	backdrop-filter: blur(12.5px);
	border: 2px solid rgba(255, 255, 255, 0.4);
	border-radius: 40px;
	& li {
		display: inline-block;
		& a {
			color: $white;
			font-size: 20px;
			font-weight: 500;
			line-height: 1;
			display: inline-block;
			padding-right: 10px;
			margin-right: 10px;
			position: relative;
			z-index: 1;
			&::before {
				content: "";
				position: absolute;
				background: white;
				width: 2px;
				height: 18px;
				right: -1px;
				top: 1px;
				z-index: 1;
				transform: rotate(14deg);
			}
		}
		&.active {
			color: $white;
			font-weight: 700;
		}
	}
	@media #{$max-lg} {
		padding: 5px 15px;
		li a {
			font-size: 18px;
		}
	}
	@media #{$max-xs} {
		padding: 5px 5px;
	}
}
