/*--
	-theme-btn
----------------------------------------*/
.ht_btn {
    overflow: hidden;
    color: $white;
    background: $heding;
    font-size: 16px;
    font-family: $publicsans;
    font-weight: 700;
    line-height: 16px;
    padding: 22px 30px 19px 30px;
    border-radius: 6px;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 2;
    cursor: pointer;
    text-decoration: none;
    transition: all;
    text-transform: uppercase;
    z-index: 3;

    &::before {
        content: "";
        background: $theme-color;
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        @include transition(0.3s);
    }
    &:hover {
        color: $white;
        &::before {
            width: 100%;
        }
    }
    &.hover-bg {
        &::before {
            background: $heding;
        }
        &:hover {
            &::before {
                width: 100%;
            }
        }
    }
}

//btn-two
.ht-btn-two {
    color: white;
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 25px;
    line-height: 70px;
    background: #ff8a00;
    text-align: center;
    transition: 0.4s ease-out;
    &:hover {
        color: $white;
        background: $black;
        transform: rotate(20deg);
    }
}

//ht-btn-three
.ht-btn-three {
    overflow: hidden;
    color: $heding;
    background: $white;
    font-size: 16px;
    font-family: $publicsans;
    font-weight: 700;
    line-height: 16px;
    padding: 22px 30px;
    border-radius: 6px;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 2;
    cursor: pointer;
    text-decoration: none;
    transition: all;
    text-transform: uppercase;
    z-index: 3;

    &::before {
        content: "";
        background: $theme-color;
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        @include transition(0.3s);
    }
    &:hover {
        color: $white;
        &::before {
            width: 100%;
        }
    }
}

.ht-btn-four {
    color: $white;
    font-size: 16px;
    border: 0;
    border-radius: 6px;
    padding: 20px 50px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 700;
    background: $theme-color;
    position: relative;
    z-index: 2;
    &::before {
        content: "";
        background: $white;
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        @include transition(0.3s);
    }
    &:hover {
        color: $heding;
        &::before {
            width: 100%;
            border-radius: 6px;
        }
    }
}

.ht-btn-five {
    color: white;
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 25px;
    line-height: 70px;
    background: $heding;
    text-align: center;
    transition: 0.4s ease-out;
    &:hover {
        color: $white;
        background: $theme-color;
        transform: rotate(20deg);
    }
}
