//footer-area-one
.footer-area-one {
    .shape-01s {
        position: absolute;
        left: 4%;
        top: -4%;
        opacity: 0.5;
    }
    .footer-widget {
        .footer-desc {
            color: rgba(255, 255, 255, 0.7);
            font-size: 24px;
            line-height: 1.6;
            margin-bottom: 38px;
            @media #{$max-xs} {
                font-size: 20px;
            }
        }
        .chatbot {
            color: $white;
            font-size: 64px;
            font-weight: 700;
            @include transition(0.4s);
            &:hover {
                color: $theme-color;
            }
            @media #{$max-lg} {
                font-size: 45px;
            }
            @media #{$max-xs} {
                font-size: 32px;
            }
        }
        ul {
            padding: 0;
            margin: 0;
            li {
                a {
                    color: rgba(255, 255, 255, 0.7);
                    display: inline-block;
                    margin-bottom: 24px;
                    @include transition(0.4s);
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
        }
        .mail {
            color: $white;
            font-size: 26px;
            font-weight: 700;
        }
        p {
            color: rgba(255, 255, 255, 0.7);
        }
        address {
            color: rgba(255, 255, 255, 0.7);
        }
    }
    .copyright-area {
        border-top: 2px solid rgba(255, 255, 255, 0.1);
        .copyright-text {
            p {
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }
}

.social-media {
    a {
        color: $white;
        font-size: 20px;
        display: inline-block;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 6px;
        border: 2px solid rgba(255, 255, 255, 0.1);
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
        @include transition(0.4s);
        &:hover {
            background: $theme-color;
            border: 0px;
        }
    }
}

//footer-area-two
.footer-area-two {
    position: relative;
    z-index: 1;
    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        background: rgba(255, 255, 255, 0.03);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .shape-01 {
        position: absolute;
        left: 70px;
        top: 70px;
        opacity: 0.5;
    }
    .footer-widget {
        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            li {
                &:last-child {
                    a {
                        margin-right: 0;
                    }
                }
                a {
                    color: $white;
                    display: inline-block;
                    font-size: 20px;
                    margin-bottom: 24px;
                    text-transform: uppercase;
                    @include transition(0.4s);
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
            @media #{$max-xs} {
                display: block;
                padding-left: 0;
            }
        }
    }
}

//copyright-area-two
.copyright-area-two {
    border-top: 2px solid rgba(255, 255, 255, 0.03);
    .footer-menu {
        ul {
            padding: 0;
            margin: 0;
            li {
                display: inline-block;
                &:last-child {
                    a {
                        margin-right: 0;
                    }
                }
                a {
                    color: $white;
                    display: inline-block;
                    font-size: 20px;
                    margin-right: 80px;
                    @include transition(0.4s);
                    &:hover {
                        color: $theme-color;
                    }
                    @media #{$max-md} {
                        margin-right: 30px;
                    }
                }
            }
        }
    }
}

//footer-area-three
.footer-area-three {
    .copyright-area {
        width: 980px;
        border: 0;
        background: #fff;
        border-radius: 10px;
        padding-left: 20px;
        padding-right: 20px;
        @media (max-width: 1399.98px) {
            width: 800px;
        }
        @media (max-width: 1199.98px) {
            width: 600px;
        }
        @media (max-width: 991.98px) {
            width: 100%;
        }
    }

    .footer-social {
        ul {
            padding: 0;
            margin: 0;

            li {
                display: inline-block;
                position: relative;
                z-index: 1;
                &:nth-child(2) {
                    padding-left: 10px;
                    padding-right: 10px;
                    margin-right: 10px;
                    margin-left: 10px;
                    &::before {
                        content: "";
                        position: absolute;
                        background: rgba(#181818, 0.6);
                        height: 20px;
                        width: 2px;
                        left: -2px;
                        top: 6px;
                        z-index: 1;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        background: rgba(#181818, 0.6);
                        height: 20px;
                        width: 2px;
                        right: -2px;
                        top: 6px;
                        z-index: 1;
                    }
                }
                a {
                    color: $heding;
                    font-size: 16px;
                    display: inline-block;
                }
            }
        }
    }
}
