.sub-title {
    color: rgba(255, 255, 255, 0.15);
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2;
    @media #{$max-xs} {
        font-size: 35px;
    }
}

.name-title {
    color: $white;
    font-size: 78px;
    text-transform: uppercase;
    @media #{$max-lg} {
        font-size: 60px;
    }
    @media #{$max-xs} {
        font-size: 35px;
    }
}

.upper-title {
    color: $theme-color;
    font-size: 16px;
    font-weight: 600;
    background: rgba;
}

.section-title {
    font-size: 40px;
    line-height: 1.3;
    @media #{$max-lg} {
        font-size: 28px;
    }
}
.wrapper-title {
    font-size: 64px;
    line-height: 1.4;
    @media #{$max-laptop} {
        font-size: 44px;
    }
    @media #{$max-lg} {
        font-size: 32px;
    }
}

.upper-title-2 {
    color: $heding;
    font-size: 24px;
    font-weight: 500;
}

.md-title {
    font-size: 32px;
    @media #{$max-lg} {
        font-size: 26px;
    }
    @media #{$xs} {
        font-size: 22px;
    }
}
