ul.slick-dots {
    z-index: 1;
    list-style: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
    li {
        display: inline-block;
        button {
            border: 0;
            background: 0;
            border: 2px solid rgba($theme-color, 0.2);
            background: transparent;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            display: inline-block;
            font-size: 0;
            margin-left: 7px;
            margin-right: 7px;
            padding: 0;
        }
        &.slick-active {
            button {
                background: $theme-color;
            }
        }
    }
}
